<h1>Nutritionist Dashboard</h1>
<h2>Welcome <%= @nutritionist ? @nutritionist.name : "Guest" %></h2>

<div id="dashboard-root" data-nutritionist-id="<%= @nutritionist&.id %>" data-nutritionist-name="<%= j @nutritionist&.name %>"></div>
<div 
  id="manage-appointments-app" 
  data-nutritionist-id="<%= @nutritionist&.id %>">
</div>